{% extends 'base.html' %}

{% block head %}
<h1 class="h2">Elenco Tags</h1>  
{% endblock head %}

{% block content %}

    <table id="table" class="table table-striped" 
        data-locale="it-IT" 
        data-toggle="table"  
        data-show-fullscreen="true" 
        data-buttons-class="primary" 
        data-search="true" 
        data-pagination="true" 
        data-toolbar="#toolbar"
    >
    <thead class="thead-dark">
        <tr>
            <th data-checkbox="true"></th>
            <th data-sortable="true">Tags</th>
        </tr>
    </thead>
    <tbody>
        {% for genere in generi.all %}
        <tr>
            <td ></td>
            <td >
                <a href="{{ genere.get_absolute_url }}" class="list-group-item list-group-item-action">{{ genere.tipologia }}</a>
            </td>               
        </tr>
        {%empty%}
        {%endfor%}
    </tbody>
</table>

{% endblock content %}

{% block head_title %}{{ block.super }} | Libreria{% endblock head_title %}